html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  overflow: hidden;
}
html,
body,
.container,
.sidebar {
  height: 100%;
  background-color: black;
}
a,
button {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.container {
  font-family: Roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.container .sidebar {
  padding: 80px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.container .sidebar .video-card {
  cursor: pointer;
  display: table;
  position: relative;
  width: 300px;
  height: 130px;
  margin: 10px 0;
  color: #fff;
  background-color: #212121;
}
.container .sidebar .video-card:hover {
  opacity: .75 !important;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.container .sidebar .video-card .progress {
  position: absolute;
  background-color: #c0392b;
  height: 5%;
}
.container .sidebar .video-card .watched {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 60px;
  color: #ecf0f1;
  font-size: 12px;
  font-weight: 600;
}
.container .sidebar .video-card .img-container {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  background-color: black;
}
.container .sidebar .video-card img {
  max-width: 100%;
  width: 100%;
}
.container .sidebar .video-card .info {
  padding: 0 10px;
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
.container .sidebar .video-card .info h3 {
  font-weight: 400;
  font-size: 14px;
  margin: 5px 0;
}
.container .sidebar .video-card .info p {
  font-weight: 300;
  font-size: 12px;
  margin: 5px 0;
}
.container .sidebar .video-card .info strong {
  font-weight: 500;
  font-size: 10px;
  margin: 5px 0;
}
.container .video-player {
  padding: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: black;
  color: #fff;
  position: relative;
  max-width: 100%;
}
.container .video-player .logo-container {
  color: #fff;
  background-color: black;
  margin-bottom: 10px;
}
.container .video-player .logo-container .logo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #fff;
}
.container .video-player .logo-container h1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 5px 10px 5px 5px;
}
.container .video-player .logo-container h2 {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}
.container .video-player .logo-container .logo {
  background-image: url(img/logo.png);
  width: 64px;
  height: 64px;
}
.container .psyche-meter {
  background-color: black;
  text-align: center;
  position: relative;
  width: 50px;
  color: #fff;
  margin-top: 80px;
  margin-bottom: 80px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
.container .psyche-meter .psyched,
.container .psyche-meter .weak {
  margin: 0 auto;
  position: absolute;
  font-size: 8px;
  font-weight: 500;
  width: 100%;
}
.container .psyche-meter .psyched {
  top: 0;
}
.container .psyche-meter .weak {
  bottom: 10px;
}
.container .psyche-meter .psyche-progress {
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
  overflow: hidden;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.container .psyche-meter .psyche-progress .climber {
  width: 32px;
  height: 32px;
  z-index: 100;
}
.container .psyche-meter .psyche-progress .meter {
  position: absolute;
  top: 29px;
  left: 23px;
  background-color: #c0392b;
  width: 3px;
  margin: 0 auto;
  height: 100%;
}
.awesomplete {
  width: 100%;
  max-width: 100%;
  margin-left: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.awesomplete input {
  padding: 10px 40px 10px 10px;
  outline: 0;
  border: 1px solid #fff;
  width: 100%;
  color: #fff;
  background-color: #000;
  background-image: url(img/search.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
}
.awesomplete li {
  background-color: #fff !important;
  color: #000 !important;
}
.awesomplete li[aria-selected="true"] {
  background-color: #bdc3c7 !important;
}
@media (max-width: 992px) {
  .awesomplete {
    margin-left: 0 !important;
    -webkit-box-flex: none !important;
    -ms-flex: none !important;
    flex: none !important;
  }
  .psyche-meter {
    display: none;
  }
  .sidebar {
    padding: 0 !important;
  }
  body {
    overflow-y: auto !important;
  }
  html,
  body,
  .container,
  .sidebar {
    height: auto !important;
  }
}
.footer {
  color: #fff;
  font-size: 8px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  margin: 25px 0;
}
.footer a {
  color: #fff;
}
.footer .heart {
  color: #e85647;
}
.show-onload {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
  margin-right: 5px;
}
::-webkit-scrollbar-track {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #303030;
}
