html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  overflow: hidden;
}
html,
body,
.container,
.sidebar {
  height: 100%;
  background-color: black;
}
.container {
  font-family: Roboto;
  display: flex;
  flex-flow: row wrap;
}
.container .sidebar {
  margin-top: 80px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: none;
  padding: 0 10px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.container .sidebar .video-card {
  display: table;
  position: relative;
  width: 300px;
  height: 130px;
  margin: 10px 0;
  color: #fff;
  background-color: #212121;
}
.container .sidebar .video-card:hover {
  opacity: .75;
  cursor: pointer;
}
.container .sidebar .video-card .progress {
  position: absolute;
  background-color: #c0392b;
  height: 5%;
}
.container .sidebar .video-card .watched {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 60px;
  color: #ecf0f1;
  font-size: 12px;
  font-weight: 600;
}
.container .sidebar .video-card .img-container {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  background-color: black;
}
.container .sidebar .video-card img {
  max-width: 100%;
}
.container .sidebar .video-card .info {
  padding-left: 10px;
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
.container .sidebar .video-card .info h3 {
  font-weight: 400;
  font-size: 14px;
  margin: 5px 0;
}
.container .sidebar .video-card .info p {
  font-weight: 300;
  font-size: 12px;
  margin: 5px 0;
}
.container .sidebar .video-card .info strong {
  font-weight: 500;
  font-size: 10px;
  margin: 5px 0;
}
.container .video-player {
  padding: 10px;
  flex: 1;
  background-color: black;
  color: #fff;
  position: relative;
  max-width: 100%;
}
.container .video-player .logo-container {
  color: #fff;
  background-color: black;
  margin-bottom: 10px;
}
.container .video-player .logo-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-flow: row wrap;
  color: #fff;
}
.container .video-player .logo-container h1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 5px 10px 5px 5px;
}
.container .video-player .logo-container h2 {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}
.container .video-player .logo-container .logo {
  background-image: url(img/logo.png);
  width: 64px;
  height: 64px;
}
.container .psyche-meter {
  background-color: black;
  text-align: center;
  position: relative;
  width: 50px;
  color: #fff;
  margin-top: 80px;
  flex: none;
}
.container .psyche-meter .psyched,
.container .psyche-meter .weak {
  margin: 0 auto;
  position: absolute;
  font-size: 8px;
  font-weight: 500;
  width: 100%;
}
.container .psyche-meter .psyched {
  top: 0;
}
.container .psyche-meter .weak {
  bottom: 10px;
}
.container .psyche-meter .psyche-progress {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.container .psyche-meter .psyche-progress .climber {
  width: 32px;
  height: 32px;
  z-index: 100;
}
.container .psyche-meter .psyche-progress .meter {
  position: absolute;
  top: 19px;
  left: 23px;
  background-color: #c0392b;
  width: 3px;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 992px) {
  .psyche-meter {
    display: none;
  }
  .sidebar {
    margin-top: 0 !important;
  }
  body {
    overflow-y: auto !important;
  }
}
.plyr__play-large {
  background: rgba(0, 0, 0, 0);
}
.plyr__progress--played,
.plyr__volume--display {
  color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
  margin-right: 5px;
}
::-webkit-scrollbar-track {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #303030;
}
